{% extends 'polls/base.html' %}
{% block content %}
{% load staticfiles %}
 <div class="row">
    <div class="col-sm-2">
        <center><img src="{% static 'images/logo.jpg' %}" class="responsive-img" style="max-height:200px" alt=""></center>
    </div>
    <div class="col-sm-10">
       <h1>Đây là template</h1>
        <p>Chào các bạn mình là  <b>{{ name }}</b></p>
        <h2>Profile của tôi gồm: </h2>
        <ul>
        {% for item in profile %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    </div>
 </div>
 {% endblock %}