
    html,body{
        height: 100%;
        background-color: #f6f6f6;
    }
    .header{
        padding: 30px;
        background-color: #ccc;
        color : #fff;
    }
    .menu{
        background-color: #234;


    }
    .menu ul li a{
        color:#fff;
        text-decoration:none;
    }
    .menu ul li{
        float:left;
        padding:6px 7px;
    }
    .menu ul li:hover{
        background-color: #ccc;
    }
    .menu ul {
        list-style-type:none;
    }
    .menu:after{
        clear:both;
        display:table;
        content:"";
    }
